.footer__wrapper {
  width: 100%;
  background-color: #35343f;
  .footer {
    margin: auto;
    padding: 2em 1em;
    max-width: $max-container;
    &__container {
      padding-bottom: 3em;
      @include flexbox(column, space-between, flex-start);
      color: #fff;
      .footer__content {
        margin-bottom: 1em;
        &__header {
          margin-bottom: 1.5em;
        }
        &__info {
          color: #bbb;
          margin-bottom: 0.5em;
        }
      }
      .newsletter {
        &__header {
          margin-bottom: 1.5em;
        }
        &__form {
          margin-bottom: 1.5em;
          @include flexbox(row, space-between, center);
        }
        &__social-links {
          .fb {
            font-size: 1.5rem;
            margin-right: 0.7em;
          }
          .tw {
            @extend .fb;
          }
        }
      }
    }
    &__endline {
      width: 100%;
      color: #fff;
      &-text {
        text-align: left;
        letter-spacing: 0.05rem;
      }
    }
  }
}
@media screen and (min-width: 800px) {
  .footer__wrapper {
    .footer {
      padding: 2em;
      &__container {
        flex-direction: row;
        flex-wrap: wrap;
        .footer__content{
          margin-right: 2.5em;
        }
      }
      &__endline{
        &-text{
          text-align: center;
        }
      }
    }
  }
}
